/* purgecss start ignore */
@import "tailwindcss/base";
body {
  font-family: Oxygen-Regular, Helvetica, Arial, sans-serif;
  background: rgb(249,249,249);
  color: rgb(48,48,58);
}
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";
