@font-face {
  font-family: 'Oxygen-Regular';
  src: '@/assets/fonts/Oxygen-Regular.ttf' format('ttf');
}
@font-face {
  font-family: 'Oxygen-Light';
  src: '@/assets/fonts/Oxygen-Light.ttf' format('ttf');
}
@font-face {
  font-family: 'Oxygen-Bold';
  src: '@/assets/fonts/Oxygen-Bold.ttf' format('ttf');
}